<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Conference</key>
	<dict>
		<key>Website</key>
		<string>http://www.re18.org</string>
		<key>Ranking</key>
		<string>A</string>
		<key>Location</key>
		<string>Banff, Alberta, Canadá</string>
		<key>ArticleDeadline</key>
		<date>2018-02-28T22:59:59Z</date>
		<key>AbstractDeadline</key>
		<date>2018-02-16T22:59:59Z</date>
		<key>Acronym</key>
		<string>RE</string>
		<key>Name</key>
		<string>Requirements Engineering</string>
	</dict>
</dict>
</plist>
